body {
  background: #fff;
  padding: 0px;
  margin: 0px;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  height: 100%;
  width: 100%;
}

body, html {
  margin: 0;
  height: 100%;
  width: 100%;
}


input, button {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
}



.cartPage-div p {
    display: inline-block;
    vertical-align: top;
    padding: 50; 
    text-align: center;
}

.cartPage-div#itemNum {
  display: inline-block;
  margin-top: 5px;

}




.cartdiv-class, .gravClass p{
  display: inline-block;
  margin-bottom: 50px;
  margin-top: 50px;
  margin-left: 200px;
  padding: 50px;
}


.cartdiv-class, .CODClass p{
  display: inline-block;
  margin-bottom: 50px;
  margin-top: 50px;
  margin-left: 200px;
  padding: 50px;
  
}


.cartdiv-class, .FIFAClass p{
  display: inline-block;
  margin-bottom: 50px;
  margin-top: 50px;
  margin-left: 200px;
  padding: 50px;
}


.cartdiv-class, .HockeyClass p{
  display: inline-block;
  margin-bottom: 50px;
  margin-top: 50px;
  margin-left: 200px;
  padding: 50px;
}




.button-basic{
  display: inline-block;
}



.containerItems {
  list-style-type: none;
  display: inline-block;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  padding: 10px;
}







.logoutbtn-div {
  width: 20%;
  height:20px; 
  width:100px; 
  margin: -20px -50px; 
  position:relative;
  top:50%; 
  left:50%;
  
}

.searchbar-div {
  width: 60%;
  text-align:center;
  margin-right:auto;
  margin-left:auto;
  padding-left: 10px;
  padding-right: 10px;
}

.searchbar-div input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 50%;
  background: #f1f1f1;
  margin-right:auto;
  margin-left:auto;
}


.searchbar-div button {
  float: left;
  width: 3%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
  margin-right: auto;
}
  

.searchbar-div button:hover {
    background: #0b7dda;
}

.searchbar-div::after {
  content: "";
  clear: both;
  display: table;
}


.main-div {
  width: 50%;
  margin: 0px auto;
  padding: 20px;
  display: none;
}





* {
  margin: 0;
  padding: 0;
}



.loggedin-div {
  width: 100%;
  height: 60px;
  background-color: #555;
  
}


.loggedin-div ul {
  float: left;
}




.loggedin-div ul li {
  float: left;
  list-style: none;
  position: relative;

}


.loggedin-div ul li a {
  display: block;
  font-family: arial;
  color: #222;
  font-size: 14px;
  padding: 21px 14px;
  text-decoration: none;
  
}


.loggedin-div ul li #cartNumLabel {
  display: block;
  font-family: arial;
  color: #222;
  font-size: 14px;
  padding: 21px 14px;
  text-decoration: none;
  
}



.loggedin-div ul li ul {
  display: none;
  position: absolute;
  background-color: #fff;
  padding: 10px;
  border-radius: 0px 0px 4px 4px;
}


.loggedin-div ul li a.active {
  background-color: #4CAF50;
}




.loggedin-div ul li a:hover {
  background-color: #000;
  display: block;
}




.loggedin-div ul li:hover ul {
  display: block;
}



.loggedin-div ul li ul li {
  width: 180px;
  border-radius: 4px;
}




.loggedin-div ul li ul li a {
  padding: 8px 14px; 
}




.loggedin-div ul li ul li a:hover {
  background-color: #f3f3f3;
}





#myInput {
  margin-left: 100px;
  margin-right: 100px;
  width: 500px;
  padding: 5px 5px 5px 5px;
}


::placeholder {
  text-align: center;
}



.main-div, .reg-div {
  width: 20%;
  margin: 0px auto;
  margin-top: 150px;
  padding: 20px;
  display: none;
}

.main-div, .resetPass-div {
  width: 20%;
  margin: 0px auto;
  margin-top: 150px;
  padding: 20px;
  display: none;
}

.main-div input {
  display: block;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #fff;
  padding: 15px;
  outline: none;
  width: 100%;
  margin-bottom: 20px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}

.reg-div input {
  display: block;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #fff;
  padding: 15px;
  outline: none;
  width: 100%;
  margin-bottom: 20px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}

.resetPass-div input {
  display: block;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #fff;
  padding: 15px;
  outline: none;
  width: 100%;
  margin-bottom: 20px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}

.main-div input:focus {
  border: 1px solid #777;
}

.reg-div input:focus {
  border: 1px solid #777;
}

.resetPass-div input:focus {
  border: 1px solid #777;
}

.main-div button {
  background: #5d8ffc;
  color: #fff;
  border: 1px solid #5d8ffc;
  border-radius: 5px;
  padding: 15px;
  display: block;
  width: 100%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}

.main-div button {
  background: #5d8ffc;
  color: #fff;
  border: 1px solid #5d8ffc;
  border-radius: 5px;
  padding: 15px;
  display: block;
  width: 100%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}

.main-div button, .reg-div button {
  background: #5d8ffc;
  color: #fff;
  border: 1px solid #5d8ffc;
  border-radius: 5px;
  padding: 15px;
  display: block;
  width: 100%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}

.main-div button, .resetPass-div button {
  background: #5d8ffc;
  color: #fff;
  border: 1px solid #5d8ffc;
  border-radius: 5px;
  padding: 15px;
  display: block;
  width: 100%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}


.main-div button:hover, .loggedin-div button:hover {
  background: #fff;
  color: #5d8ffc;
  border: 1px solid #5d8ffc;
  cursor: pointer;
}


.main-div button:hover, .reg-div button:hover {
  background: #fff;
  color: #5d8ffc;
  border: 1px solid #5d8ffc;
  cursor: pointer;
}

.main-div button, .resetPass-div button:hover {
  background: #fff;
  color: #5d8ffc;
  border: 1px solid #5d8ffc;
  cursor: pointer;
}





.testsearch-div {
  padding: 15px 0px;
}

.searchnavigation {
  padding: 15px 0px;
}


.testsearch-div a {
  margin-right: 5px;
  text-decoration: none;
  border: 1px solid #ccc;
  padding: 10px 25px;
  border-radius: 50px;
  color: blue;  
}


.testsearch-div p {
  margin-right: 5px;
  margin-bottom: 15px;
  text-decoration: none;
  padding: 10px 25px;
  border-radius: 50px;
  color: black;  
}


.testsearch-div a.active {
  background-color: brown;
  border-color: black;
  color: coral;
}

.ImageContainer div {
  display: inline-block;

}

.ImageContainer a {
  display: inline-block;
}





.ImageContainer img {
  margin: 5px;
  width: 300px;
  height: 300px;
}



.addToCart-div {
  text-align: center;
}



#qtyfield {
  margin-top: 15px;
  width: 25px;
  height: 25px;
}

#UserItem {
 text-align: center;
  margin-top: 15px;
}



/*How to center an image using css*/
#imageitem{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  width: 50%;
}


 #confirmProduct {
  margin-top: 5px;
}

#returnhmbtn {
  margin-top: 5px;
}


.cartdiv-class h2 {
  text-align: center;
  margin-top: 15px;
}

.cartdiv-class a {

  display: inline-block;
  margin-bottom: 50px;
  margin-top: 50px;
  margin-left: 280px;
  padding: 50px;
  margin-top: 15px;
}







